package templates

templ Index() {
	<html>
		<head>
			<title>OpTournament</title>
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/ws.min.js"></script>
		</head>
		<body>
			@Main()
		</body>
	</html>
}
