package templates

import "github.com/dermaddis/op_tournament/internal/handler/customcontext"

templ Index(customContext *customcontext.CustomContext) {
	<html>
		<head>
			<title>OpTournament</title>
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/ws.min.js"></script>
		</head>
		<body style="background: #282a2f;">
			if customContext.LoggedIn {
				@Main(customContext.DiscordUser)
			} else {
				<a href="/auth/login">Login</a>
			}
		</body>
	</html>
}
