package templates

import "github.com/dermaddis/op_tournament/internal/model/discord"

templ Main(discordUser discord.APIUser) {
<main id="main" hx-ext="ws" ws-connect="/connect"></main>
<h1>Hey, { discordUser.Username }</h1>
}
